*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    background-color: skyblue;
}
.truck{
    position: absolute;
    top: 400px;
    animation-name: truck-animation;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.cloud{
    position: absolute;
   right: 10px;
   top: 30px;
   animation: cloud 30s linear 1s infinite;
   opacity: 0.7;
   z-index: 1;
}
.large-cloud{
      position: absolute;
   right: 10px;
   top: 200px;
   width: 400px;
   animation: cloud 70s linear 1s infinite; 
   z-index: 1;
}
.sun{
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
    top: 150px;
    left: 200px;
    position: absolute;
}


@media (max-width: 1024px) {
    .truck {
        top: 200px;
        width: 280px;
    }

    .sun {
        width: 100px;
        height: 100px;
        left: 130px;
        top: 120px;
    }

    .large-cloud {
        width: 200px;
        top: 150px;
    }
}


@keyframes cloud {
   from{
     right: -200px;
   }
   to{
    right: 100% ;
   }
}

@keyframes truck-animation {
    from{transform: translateX(-200px);

    }
    to{
    transform: translateX(1600px);
    }
}


@media (max-width: 768px) {
    .truck {
        top: 300px;
        width: 230px;
    }

    .sun {
        width: 100px;
        height: 100px;
        left: 100px;
        top: 80px;
    }

    .cloud {
        width: 150px;
    }

    .large-cloud {
        width: 250px;
        top: 120px;
    }
}



@media(max-width:480px){
    .truck{
        top: 500px;
        width: 180px;
        animation-duration: 3s;
    }
    .sun{
        width: 70px;
        height: 70px;
        top: 60px;
        left: 60px;
    }
    .cloud{
        width: 120px;
        top: 20px;
    }
    .large-cloud {
        width: 200px;
        top: 90px;
    }
}




